nav[aria-label="Breadcrumb"] {
  padding: 0;
}

nav[aria-label="Breadcrumb"] ul {
  margin-left: 0;
}

table.table-hover {
  table-layout: fixed;
}

table.table-hover th:first-child,
table.table-hover td:first-child {
  width: 2rem;
  text-align: center;
}

table.table-hover th:last-child,
table.table-hover td:last-child {
  width: 8rem;
  text-align: right;
}

table.table-hover tr.file-entry.selected td,
table.table-hover tr.file-entry.selected:hover td {
  background-color: var(--mu-primary-background);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}
